---
import Heading from "../heading.astro";
import Container from "../Container.astro";
import SubHeading from "../subHeading.astro";
import Text from "../text.astro";

const { educationDetails } = Astro.props;
---

<Container>
	<Heading>Education</Heading>
	{educationDetails.map((detail) => (
		<div class="mt-4 flex">
			<div class="">
				<SubHeading>{detail.degree}</SubHeading>
				<Text>{detail.place}</Text>
			</div>
			<div class="ml-2">
				<SubHeading> {detail.marksHeader} </SubHeading>
				<Text class={detail.marksClass}>{detail.marks}</Text>
			</div>
		</div>
	))}
</Container>
